{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "experimentalTernaries": true,
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "parser": "css"
            }
        },
        {
        "files": "*.ts",
        "options": {
            "parser": "babel-ts"
        }
    }, {
        "files": "*.js",
        "options": {
            "parser": "babel"
        }
    }, {
        "files": "*.json",
        "options": {
            "parser": "json"
        }
    }, {
        "files": "*.tsx",
        "options": {
            "parser": "babel-ts"
        }
    }],
    "plugins": ["prettier-plugin-tailwindcss"],
    "printWidth": 250,
    "quoteProps": "as-needed",
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}