@tailwind components;

@layer components {
    button {
        @apply aria-current:bg-red-500 aria-current:text-white aria-current:font-bold !important;
    }
    input[value=""], input[value], [role="combobox"] {
        @apply ring-2 ring-yellow-500;
    }
    td > div > div > div > div {
        @apply max-w-full w-full m-0 !important;
    }
    thead > tr > th {
        @apply outline outline-2 outline-black;
    }
    tbody > tr > td {
        @apply outline outline-2 outline-black;
    }
    button[aria-label="Expand"] {
        @apply ml-0 group-data-[row-depth="1"]:ml-1 group-data-[row-depth="2"]:ml-2 group-data-[row-depth="3"]:ml-3 group-data-[row-depth="4"]:ml-4 group-data-[row-depth="5"]:ml-5;
    }
    input[type='checkbox'] {
        @apply accent-red-500;
    }
    th#mrt-row-expand div {
        @apply has-[button]:flex has-[button]:w-full has-[button]:justify-center has-[button]:items-center has-[button]:h-full;
    }
    @keyframes slideindown {
        from {
            transform: translate3d(0, -100%, 0);
            visibility: visible;
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideoutup {
        from {
            transform: translate3d(0, 0, 0);
        }

        to {
            visibility: hidden;
            transform: translate3d(0, -100%, 0);
        }
    }

    @keyframes slideinup {
        from {
            transform: translate3d(0, 100%, 0);
            visibility: visible;
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes bounceoutup {
        20% {
            transform: translate3d(0, -10px, 0) scaleY(0.985);
        }

        40%,
        45% {
            opacity: 1;
            transform: translate3d(0, 20px, 0) scaleY(0.9);
        }

        to {
            opacity: 0;
            transform: translate3d(0, -2000px, 0) scaleY(3);
        }
    }

    @keyframes backoutup {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        20% {
            transform: translateY(0px) scale(0.7);
            opacity: 0.7;
        }

        100% {
            transform: translateY(-700px) scale(0.7);
            opacity: 0.7;
        }
    }

    @keyframes slideoutdown {
        from {
            transform: translate3d(0, 0, 0);
        }

        to {
            visibility: hidden;
            transform: translate3d(0, 100%, 0)
        }
    }

    @keyframes pulseincenter {

        from,
        20%,
        40%,
        60%,
        80%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        0% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }

        20% {
            transform: scale3d(1.1, 1.1, 1.1);
        }

        40% {
            transform: scale3d(0.9, 0.9, 0.9);
        }

        60% {
            opacity: 1;
            transform: scale3d(1.03, 1.03, 1.03);
        }

        80% {
            transform: scale3d(0.97, 0.97, 0.97);
        }

        to {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes pulseoutcenter {
        20% {
            transform: scale3d(0.9, 0.9, 0.9);
        }

        50%,
        55% {
            opacity: 1;
            transform: scale3d(1.1, 1.1, 1.1);
        }

        to {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
    }

    @keyframes bounceindown {

        from,
        60%,
        75%,
        90%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
            transform: translate3d(0, -3000px, 0) scaleY(3);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
            transform: translate3d(0, 25px, 0) scaleY(0.9);
        }

        75% {
            -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
            transform: translate3d(0, -10px, 0) scaleY(0.95);
        }

        90% {
            -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
            transform: translate3d(0, 5px, 0) scaleY(0.985);
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeoutright {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            transform: translate3d(100%, 0, 0);
        }
    }

    @keyframes fadeoutleft {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }
    }

    @keyframes float-input {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }

        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    @keyframes float-label {
        from {
            transform: scaleY(0);
            opacity: 0;
        }

        to {
            transform: scaleY(1);
            opacity: 1;
        }
    }

    .dd-items {
        @apply flex min-w-max border rounded-md border-white bg-sky-dark/70 text-black font-bold text-base shadow-inner shadow-white hover:bg-rose-dark outline-2 outline-transparent focus:outline-yellow px-1.5 py-0.5 justify-start;
    }

    .dd-item {
        @apply inline-flex text-white border border-black indent-2;
    }


}